<div class="carre">
  <app-carre-couleur
    [couleur]="'#F14F21'"
    (couleurFond_emmiter)="changerCouleur($event)">
  </app-carre-couleur>
  <app-carre-couleur
    [couleur]="'#7EB900'"
    (couleurFond_emmiter)="changerCouleur($event)">
  </app-carre-couleur>
  <app-carre-couleur
    [couleur]="'#00A3EE'"
    (couleurFond_emmiter)="changerCouleur($event)">
  </app-carre-couleur>
  <app-carre-couleur
    [couleur]="'#FEB800'"
    (couleurFond_emmiter)="changerCouleur($event)">
  </app-carre-couleur>
</div>
